[submodule "find_longest_sequences"]
	path = findLongSeqs
	url = git@github.com:kasperskytte/find_longest_sequences.git
[submodule "findLongSeqs"]
	path = findLongSeqs
	url = git@github.com:kasperskytte/find_longest_sequences.git
